In [14]:
import pandas as pd

# parquet 파일 경로 지정
file_path = 'tab_fact.parquet'

# pyarrow(또는 fastparquet) 기반으로 parquet 파일 읽기
df = pd.read_parquet(file_path)

In [15]:
df['cleaning_status'].value_counts()

cleaning_status
verified     110
consensus     57
rejected      30
revised        3
Name: count, dtype: int64

In [16]:
df['platinum_prompt'][0]

'Consider the following table.\n\nTable:\n| team               |   tries for |   tries against | try diff   |   points for |   points against | points diff   |\n|:-------------------|------------:|----------------:|:-----------|-------------:|-----------------:|:--------------|\n| castres olympique  |          29 |               6 | + 23       |          207 |               71 | + 136         |\n| narbonne           |          21 |               6 | + 15       |          161 |               90 | + 71          |\n| dinamo - bucureşti |          12 |              32 | 20         |          109 |              213 | 104           |\n| bridgend           |          10 |              14 | 4          |           94 |              120 | 26            |\n| bristol shoguns    |          11 |              12 | 1          |          128 |               99 | + 29          |\n| treorchy           |          10 |              23 | 13         |           72 |              178 | 106           |\n\nTable Caption: 1996 - 97 european challenge cup\n\nIs the following statement entailed (=1) or refuted (=0) by the table?\n\nStatement: when tries for be 21 then the tries against be 32\n\nThink step-by-step. Then, provide the final answer in the format: "Answer: 0/1".'

In [17]:
import pandas as pd
import re

# 1. Read the question again: ...
def repeat_question(match):
    # match.group(1): 첫 번째 줄바꿈 (예: "\n\n" 또는 "\n   \n")
    # match.group(2): 질문 텍스트
    # match.group(3): 두 번째 줄바꿈 (예: "\n\n")
    # 원하는 결과: 첫 번째 줄바꿈 뒤 기존 질문 대신 "Read the question again:" + 질문 텍스트를 두 번 반복하고,
    # 두 번째 줄바꿈을 그대로 붙인다.
    return f"{match.group(1)}{match.group(2)}\n\nRead the question again: {match.group(2)}{match.group(3)}"

# \n\n 사이에 공백이 있을 수도 있으므로 \n\s*\n 형태로 패턴을 수정
df['RE2'] = df['platinum_prompt'].str.replace(
    r'(\n\s*\n)(.*?)(\n\s*\n)(?=Think step-by-step)',
    repeat_question,
    flags=re.DOTALL,
    regex=True
)

# # 2. Summarize the question first.
# df['sum'] = df['platinum_prompt'].str.replace(
#     r'(?=Think step-by-step)',
#     "Summarize the question first. ",
#     regex=True
# )

# # 3. Organize the question into a table first.
# df['table'] = df['platinum_prompt'].str.replace(
#     r'(?=Think step-by-step)',
#     "Organize the question into a table first. ",
#     regex=True
# )

# # 4. Organize the question into a graph structure first.
# df['graph'] = df['platinum_prompt'].str.replace(
#     r'(?=Think step-by-step)',
#     "Organize the question into a graph structure first. ",
#     regex=True
# )

# # 5. Summarize the question in bullet points first.
# df['bullet_point'] = df['platinum_prompt'].str.replace(
#     r'(?=Think step-by-step)',
#     "Summarize the question in bullet points first. ",
#     regex=True
# )

# 6. Read the question again first.
df['sRE2'] = df['platinum_prompt'].str.replace(
    r'(?=Think step-by-step)',
    "Read the question again first. ",
    regex=True
)

df['sRE2_m1'] = df['platinum_prompt'].str.replace(
    r'(?=Think step-by-step)',
    "Read the previous content again first. ",
    regex=True
)

df['sRE2_m2'] = df['platinum_prompt'].str.replace(
    r'(?=Think step-by-step)',
    "Read the table again first. ",
    regex=True
)

In [5]:
df['RE2'][0]

'Consider the following table.\n\nTable:\n| team               |   tries for |   tries against | try diff   |   points for |   points against | points diff   |\n|:-------------------|------------:|----------------:|:-----------|-------------:|-----------------:|:--------------|\n| castres olympique  |          29 |               6 | + 23       |          207 |               71 | + 136         |\n| narbonne           |          21 |               6 | + 15       |          161 |               90 | + 71          |\n| dinamo - bucureşti |          12 |              32 | 20         |          109 |              213 | 104           |\n| bridgend           |          10 |              14 | 4          |           94 |              120 | 26            |\n| bristol shoguns    |          11 |              12 | 1          |          128 |               99 | + 29          |\n| treorchy           |          10 |              23 | 13         |           72 |              178 | 106           |\n\nTable Caption: 1996 - 97 european challenge cup\n\nIs the following statement entailed (=1) or refuted (=0) by the table?\n\nStatement: when tries for be 21 then the tries against be 32\n\nRead the question again: Table:\n| team               |   tries for |   tries against | try diff   |   points for |   points against | points diff   |\n|:-------------------|------------:|----------------:|:-----------|-------------:|-----------------:|:--------------|\n| castres olympique  |          29 |               6 | + 23       |          207 |               71 | + 136         |\n| narbonne           |          21 |               6 | + 15       |          161 |               90 | + 71          |\n| dinamo - bucureşti |          12 |              32 | 20         |          109 |              213 | 104           |\n| bridgend           |          10 |              14 | 4          |           94 |              120 | 26            |\n| bristol shoguns    |          11 |              12 | 1          |          128 |               99 | + 29          |\n| treorchy           |          10 |              23 | 13         |           72 |              178 | 106           |\n\nTable Caption: 1996 - 97 european challenge cup\n\nIs the following statement entailed (=1) or refuted (=0) by the table?\n\nStatement: when tries for be 21 then the tries against be 32\n\nThink step-by-step. Then, provide the final answer in the format: "Answer: 0/1".'

In [6]:
df['platinum_prompt_no_cot'][0]

'Consider the following table.\n\nTable:\n| team               |   tries for |   tries against | try diff   |   points for |   points against | points diff   |\n|:-------------------|------------:|----------------:|:-----------|-------------:|-----------------:|:--------------|\n| castres olympique  |          29 |               6 | + 23       |          207 |               71 | + 136         |\n| narbonne           |          21 |               6 | + 15       |          161 |               90 | + 71          |\n| dinamo - bucureşti |          12 |              32 | 20         |          109 |              213 | 104           |\n| bridgend           |          10 |              14 | 4          |           94 |              120 | 26            |\n| bristol shoguns    |          11 |              12 | 1          |          128 |               99 | + 29          |\n| treorchy           |          10 |              23 | 13         |           72 |              178 | 106           |\n\nTable Caption: 1996 - 97 european challenge cup\n\nIs the following statement entailed (=1) or refuted (=0) by the table?\n\nStatement: when tries for be 21 then the tries against be 32\n\nThen, provide the final answer in the format: "Answer: 0/1".'

In [18]:
import pandas as pd
import re

def repeat_question(match):
    # match.group(1): 첫 번째 줄바꿈 (예: "\n\n" 또는 "\n   \n")
    # match.group(2): 질문 텍스트
    # match.group(3): 두 번째 줄바꿈 (예: "\n\n")
    # 원하는 결과: 첫 번째 줄바꿈 뒤 기존 질문 대신 "Read the question again:" + 질문 텍스트를 두 번 반복하고,
    # 두 번째 줄바꿈을 그대로 붙인다.
    return f"{match.group(1)}{match.group(2)}\n\nRead the question again: {match.group(2)}{match.group(3)}"

# \n\n 사이에 공백이 있을 수도 있으므로 \n\s*\n 형태로 패턴을 수정
df['RE2_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
    r'(\n\s*\n)(.*?)(\n\s*\n)(?=Then, provide the final answer in the format)',
    repeat_question,
    flags=re.DOTALL,
    regex=True
)

# df['sum_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
#     r'(?=Then, provide the final answer in the format)',
#     "Summarize the question first. ",
#     regex=True
# )

# df['table_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
#     r'(?=Then, provide the final answer in the format)',
#     "Organize the question into a table first. ",
#     regex=True
# )

# df['graph_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
#     r'(?=Then, provide the final answer in the format)',
#     "Organize the question into a graph structure first. ",
#     regex=True
# )

# df['bullet_point_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
#     r'(?=Then, provide the final answer in the format)',
#     "Summarize the question in bullet points first. ",
#     regex=True
# )

df['sRE2_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
    r'(?=Then, provide the final answer in the format)',
    "Read the question again first. ",
    regex=True
)

df['sRE2_m1_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
    r'(?=Then, provide the final answer in the format)',
    "Read the previous content again first. ",
    regex=True
)

df['sRE2_m2_no_cot'] = df['platinum_prompt_no_cot'].str.replace(
    r'(?=Then, provide the final answer in the format)',
    "Read the table again first. ",
    regex=True
)

In [19]:
df['sRE2_m2_no_cot'][0]

'Consider the following table.\n\nTable:\n| team               |   tries for |   tries against | try diff   |   points for |   points against | points diff   |\n|:-------------------|------------:|----------------:|:-----------|-------------:|-----------------:|:--------------|\n| castres olympique  |          29 |               6 | + 23       |          207 |               71 | + 136         |\n| narbonne           |          21 |               6 | + 15       |          161 |               90 | + 71          |\n| dinamo - bucureşti |          12 |              32 | 20         |          109 |              213 | 104           |\n| bridgend           |          10 |              14 | 4          |           94 |              120 | 26            |\n| bristol shoguns    |          11 |              12 | 1          |          128 |               99 | + 29          |\n| treorchy           |          10 |              23 | 13         |           72 |              178 | 106           |\n\nTable Caption: 1996 - 97 european challenge cup\n\nIs the following statement entailed (=1) or refuted (=0) by the table?\n\nStatement: when tries for be 21 then the tries against be 32\n\nRead the table again first. Then, provide the final answer in the format: "Answer: 0/1".'

In [20]:
df.to_parquet('tab_fact_m.parquet')

In [21]:
df.head()

,cleaning_status,platinum_prompt,platinum_prompt_no_cot,platinum_target,original_target,platinum_parsing_strategy,id,table_id,table_text,table_caption,statement,label,RE2,sRE2,sRE2_m1,sRE2_m2,RE2_no_cot,sRE2_no_cot,sRE2_m1_no_cot,sRE2_m2_no_cot
0,verified,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,[0],[0],text,1249,2-16770037-3.html.csv,team#tries for#tries against#try diff#points f...,1996 - 97 european challenge cup,when tries for be 21 then the tries against be 32,0,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...,Consider the following table.\n\nTable:\n| tea...
1,verified,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,[0],[0],text,182,2-14148130-1.html.csv,games#drawn#lost#points difference#points\n7#0...,1983 world ice hockey championships,when there be 10 point and a point difference ...,0,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...,Consider the following table.\n\nTable:\n| g...
2,verified,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,[1],[1],text,40,2-1564278-3.html.csv,date#tournament#surface#opponent in the final#...,alex bogdanovic,rik de voest be alex bogdanovic 's opponent on...,1,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...,Consider the following table.\n\nTable:\n| dat...
3,rejected,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,None,[1],text,1578,2-15463188-1.html.csv,name#position#number#school / club team#season...,none,jessica quinone (26) play for far eastern in 2012,1,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...,Consider the following table.\n\nTable:\n| nam...
4,verified,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,[1],[1],text,451,2-11307139-5.html.csv,outcome#date#tournament#surface#opponent#score...,aleksandra wozniak,wozniak compete in 5 tournament in 2005 and wi...,1,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...,Consider the following table.\n\nTable:\n| out...